{% extends "blog/base.html" %}
{% load static %}
{% block content %}

    <div class="container col-xxl-8 px-4 py-5 border-bottom">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="fw-bold lh-1 text-body-emphasis mb-3">Результаты поиска по ключевым словам:</h1>
            <p class="col-lg-10 fs-4">"{{ query }}"</p>
        </div>
    </div>

    <!-- post list -->
    {% for post in posts %}
        <div class="container col-xxl-8 px-4 py-5 border-bottom">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{% static "bootstrap/images/bootstrap-themes.png" %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ post.title }}</h1>
                <p class="lead">{{ post.body|truncatewords:30 }}</p>
                <p class="text-muted">{{ post.publish }} by {{ post.author }}</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="{{ post.get_absolute_url }}" class="btn btn-primary btn-lg px-4 me-md-2">Читать</a>
                </div>
            </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}